html {
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* .main-page {
    max-width: 100%;
    height: auto;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
